@import '../src/assets/styles/_vars.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // font-family: $FMedium;
}

body {
    background: url(./assets//images/background.png) no-repeat;
    background-size: cover;
    text-transform: uppercase;
}

.app {
    padding-top: 7.92vw;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title_container {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title {
    text-align: center;
    color: #977F64;
    font-family: $FLight;
    font-size: 5.09vw;
}
.cloud_wrapper {
    width: 100%;
    height: 100%;
}
// .cloud_wrapper {
//     height: 56.68vh;
//     width: 91.77vw;
// }
.bold {
    font-family: $FBold;
}

.medium {
    font-family: $FMedium; 
}

.light {
    font-family: $FLight;
}

.container {
    width: 90vw;
}